header {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}


.logo {
  font-size: 24px;
  font-weight: bold;
}

.search-bar {
  padding: 5px 10px;
  width: 300px;
  border: 1px solid #ccc;
  border-radius: 4px;
  margin-right: auto; /* Pushes the search bar to the left */
}


.header-icons {
  display: flex;
  align-items: center;
}

.header-icons i {
  margin-left: 15px;
  cursor: pointer;
}

@media (max-width: 768px) {
  header {
    flex-direction: column;  
    align-items: flex-start; 
  }

  .search-bar {
    width: 100%;
    margin-bottom: 10px; 
  }

  .header-icons {
    margin-top: 10px; 
  }
}


main{
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  background-color: #c3e0e0;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}
.head{
  display: flex;
  gap:10px;
  justify-content: space-around;
  align-items: center;
  margin-right: 30px;
}
.foot{
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
}